venv/
.virtualenvs
.DS_Store
.ipynb_checkpoints
*.pkl
*.ipynb

data
/tests/integration_test/data_test/*
#Keep raw data for integration test (see tests/integration_test/README.md for more explanations).
!/tests/integration_test/data_test/raw
logs

mlruns
mlruns_test

__pycache__
*.pyc

.idea/*
.pytest_cache

airflow
!airflow/dags

# Private keys for connecting to EC2 instances
*.pem

# databricks password
password.txt