venv/
.virtualenvs
.DS_Store
.ipynb_checkpoints
*.pkl
*.ipynb

data
/tests/integration_test/data_test/*
#Keep raw data for integration test (see tests/integration_test/README.md for more explanations).
!/tests/integration_test/data_test/raw

mlruns
mlruns_test

__pycache__
*.pyc

.idea/*
.pytest_cache

airflow